.post__favorite {
    display: flex;
    align-items: center;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.post__buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 157%;
    margin-top: 20px;
}