
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;

}

main {
  max-width: 938px;
  margin: 26px auto 0;
}

._block {
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.form {
  font-family: Roboto, sans-serif;
  min-width: 384px;
  max-width: 384px;
  padding: 48px 32px;
  margin-top: 60px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .controller {
    margin: 15px 0;
  }

}

.form__error {
  color: #F5222D;
  font-size: 14px;
  line-height: 157%;
}

.form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #262626;
}

.form__subtitle {
  margin: 8px auto 0;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #8C8C8C;

  a {
    display: inline-block;
    margin-left: 5px;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  background: none;
  cursor: pointer;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 17px;
}

.button__red {
  color: #F5222D;
  border-color: #F5222D;

  &:hover {
    color: white;
    background-color: #F5222D;
  }
}

.button__green {
  color: #52C41A;
  border-color: #52C41A;

  &:hover {
    color: white;
    background-color: #52C41A;
  }
}