
.header {
  background-color: white;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  min-height: 80px;
  font-size: 18px;
  line-height: 156%;
  transition: all 0.3s ease 0s;

  .header__title {

    a:hover {
      h6 {
        transition: all 0.3s ease 0s;
        color: #1890FF;
      }
    }
  }

  .auth {
    display: flex;
    align-items: center;

    .auth__element {
      padding: 10px 18px;

      &:not(:last-child) {
      }
    }

    .auth__sign-in {
      margin-right: 25px;
      color: rgba(0, 0, 0, 0.85);

      &:hover {
        color: #1890FF;
      }
    }

    .auth__sign-up {
      border: 1px solid #52C41A;
      border-radius: 5px;
      color: #52C41A;

      &:hover {
        color: #1890FF;
        border-color: #1890FF;
      }
    }
  }

  .header__loggedin {
    display: flex;
    align-items: center;

    .header__newpost {
      display: flex;
      height: 31px;
      width: 112px;
      border: 1px solid #52C41A;
      border-radius: 5px;
      font-size: 14px;
      line-height: 157%;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;

      a {
        color: #52C41A;
      }

      &:hover {
        background-color: #52C41A;

        a {
          color: white;
        }
      }
    }

    .header__user {
      display: flex;
      width: fit-content;
      align-items: center;

      .header__username {
        font-size: 18px;
        line-height: 156%;
        color: rgba(0, 0, 0, 0.85);
        margin-right: 13px;
      }

      .header__avatar img {
        height: 46px;
        width: 46px;
        border-radius: 50%;
      }
    }

    .log-out {

      button {
        background-color: white;
        width: 109px;
        height: 51px;
        border: 1px solid rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.75);
          color: white;
        }
      }
    }

    & > :not(:last-child) {
      margin-right: 27px;
    }
  }
}


